.fild__box{
	margin-bottom: 35px;
}
.fild__grid-two{
	display: flex;
	justify-content: space-between;
	section{
		width: 45%;
	}
}
.adress_fild{
	margin-bottom: 35px;
}
.from__box-adress{
	display: flex;
	justify-content: space-between;
	margin-top: -15px;
	.form__field-wrapper__input{
		width: 22%;
	}
}
.form__field-wrapper__input,.adress_fild__address{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 100px;
	font-size: 13px;
	font-feature-settings: 'liga' off;
	color: #333333;
	line-height: 50px;
	padding:0 15px;
	font-family: $manrope;
}
.form__textarea{
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 25px;
	font-size: 13px;
	font-feature-settings: 'liga' off;
	color: #333333;
	line-height: 50px;
	padding:0 15px;
}
.adress_fild__address{
	cursor: pointer;
}
.fild-lable{
	font-size: 17px;
	color: #333333;
	margin-bottom: 15px;
	margin-left: 15px;
}
.not-valid.error{
	.form__field-wrapper__input,.adress_fild__address{
		border-color: red;
	}
}
.form__field-wrapper__error{
	margin-top: 10px;
	margin-left: 15px;
	font-size: 11px;
	color: red;
}
.fild-short{
	margin-top: 15px;
	font-size: 12px;
	color: #666666;
}
.fild-short--center{
	text-align: center;
}

.fild-requer{
	position: relative;
	&::before{
		content: "*";
		position: absolute;
		right: 15px;
		top: 10px;
		font-size: 15px;
		color: #8D191D;
	}
}
