.cart-container{
	padding: 5%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	.promocode_contain{
		width: 100%;
		margin-top: 20px;
		background: #EFEFEF;
	}
	.fild_btn{
		margin-top: 20px;
	}
	
}

.cart__memo{
	margin-top: 15px;
	font-size: 11px;
	color:#666666;
	font-weight: 300;
	width: 100%;
	.cart__memo__banner{
		font-size: 14px;
		padding-bottom: 4px;
		color: #333;
	}
	.free-deliv{
		font-weight: 500;
	}
	.price{
		color:green;
	}
}

.cart_head{
	height: 80%;
	overflow: hidden;
}
.cart_bottom{
	
	background: #fff;
	border-top: 1px solid #EFEFEF;
	margin-bottom: 15px;
}

.cart_title-box{
	display: flex;
	border-bottom: 2px solid #EFEFEF;
	.cart_title{
		font-size: 26px;
		color: #132A3E;
		padding-bottom: 20px;
		border-bottom: 2px solid #8D191D;
		
	}
	.clear_cart{
		display: inline-block;
		margin-left: 30px;
		margin-top: 10px;
		font-size: 13px;
		line-height: 16px;
		padding-bottom: 0px;
		color: #132A3E;
		height: 18px;
		cursor: pointer;
		border-bottom: 1px dotted #132A3E;
		&::before{
			content: "";
			display: inline-block;
			margin-right: 5px;
			width: 12px;
			height: 12px;
			@include bgImage('/images/icon/clean.png')
		}
		&:hover{
			border: none;
		}
	}
}
.cart_list{
	overflow-y: auto;
	padding-right: 10px;
	height: 100%;
	padding-bottom: 30px;
	
}
.cart_item{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5px;
	border-bottom: 1px solid #CCCCCC;
	.cart_item-img{
		width: 90px;
		margin-right: 10px;
		img{
			width: 75px;
			height: 75px;
		}
	}
	.cart_item__container{
		width: calc(100% - 100px);
		.cart_item-box{
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			section.grid{
				display: flex;
				flex-direction: column;
				justify-content: center;
				& > *{
					margin-top: 10px;
				}
			}
		}
		.cart_item-name{
			flex-grow: 2;
		}
		.cart_item-price{
			flex-grow: 1;
			min-width: 50px;
			text-align: right;
		}
		.cart_item--title{
			font-size: 17px;
			color: #333333;
			font-weight: 500;
		}
		
		.cart_item--itm{
			color: #333333;
			opacity: 0.5;
			font-size: 13px;
			
		}
		.delet{
			cursor: pointer;
		}
	}
}
.cart_item.error{
	background-color: rgba(255,0,0,.1);
	border-bottom: 1px solid red;
	.cart__item__validate{
		font-size: 11px;
		color: red;
	}
}

.cart__order-btn.btn{
	width: 100%;
	background: #8D191D;
	border-radius: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	border: none;
	transition: all 0.3s;
	cursor: pointer;
	&:hover{
		opacity: 0.9;
	}
	&[disabled] {
		filter: grayscale(1);
	}
}
.fild_btn-disabled{
	opacity: 0.5;
}

.cart__choice {
	padding: 6px;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-top: 28px;
	background-color:#efefef;
	margin: 0 25px;
	margin-bottom: 35px;
	&__item {
			flex: 1;
			cursor: pointer;
			padding: 13px 0;
			text-align: center;
			color: #666;
			border-radius: 25px;
			&.active {
					background-color: #8d191d;
					color: #fff;
			}
	}
}
.cart-info{
	display: flex;
	width: 100%;
	margin-top: 10px;
	justify-content: space-between;
	.cart-info__box--end{
		align-self: flex-end;
	}
	.cart-info__box{
		margin-top: 15px;
		span{
			display: block;
			margin-top: 10px;
		}
	}
	.price_info{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	.cart-info--infotime{
		color: #132A3E;
		font-size: 13px;
	}
	.cart-info--time{
		color: #132A3E;
		font-size: 26px;
	}
	.cart-info--total{
		font-size: 13px;
		color: #8D191D;
		text-align: right;
	}
	.cart-info--price{
		color: #8D191D;
		font-size: 26px;
	}
}