.footer{
	background: #132A3E;
	padding-top: 60px;
	padding-bottom: 30px;
	font-family: $sf;
	.footer_grid{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		padding-bottom: 30px;
		.footer_grid-left{
			width: 40%;
			display: flex;
			justify-content: space-between;
		}
		.footer_grid-right{
			width: 35%;
		}
	}
	.footer_box{
		color: #fff;
		.footer_box-title{
			font-size: 21px;
			font-family: $manrope;
			font-weight: 800;
			margin-bottom: 20px;
		}
		.footer_box-link{
			display: block;
			font-size: 15px;
			color: #fff;
			margin-bottom: 15px;
		}
		.footer_box-soc{
			display: flex;
			margin-top: 20px;
			img{
				width: 24px;
				height: 100%;
				margin: 0 10px;
			}
		}
		.footer_box__subcrub{
			display: flex;
			width: 100%;
			height: 48px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 100px;
			
			input{
				background: none;
				border: none;
				color: #fff;
				font-size: 14px;
				height: 48px;
				line-height: 48px;
				padding-left: 25px;
				padding-right: 10px;
				width: calc(100% - 175px);
			}
			button{
				border: none;
				background: rgba(255, 255, 255, 0.25);
				border-radius: 100px;
				color: #fff;
				font-size: 14px;
				width: 175px;
				height: 48px;
				font-weight: 500;
			}
		}
		.footer_box__pact{
			margin-top: 30px;
		}
		.footer_box__pact-info{
			margin-top: 10px;
			color: rgba(255, 255, 255, 0.3);
			span{
				font-size: 11px;
			}
			a{
				font-size: 11px;
				color: rgba(255, 255, 255, 0.7);
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.foot{
		display: flex;
		margin-top: 30px;
		.foot-item{
			width: 25%;
			color: #fff;
			font-size: 11px;
		}
		a{
			font-size: 11px;
			color: rgba(255, 255, 255, 0.4);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	
}