.header{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	.header__left{
		
		.header_logo{
			width: 100%;
		}
	}
	.header__center{
		width: 50%;
		padding-top: 15px;
		.header_adress-info{
			color: #666666;
			display: flex;
			cursor: pointer;
			span{
				display: inline-block;
				font-size: 13px;
				line-height: 16px;
				margin-right: 30px;
				padding-top: 7px;
			}
			span.header_adress-info-active{
				color: #8D191D;
				font-weight: 500;
			}
			.header_adress-info-btn_table{
				width: 150px;
				height: 30px;
				line-height: 30px;
				font-size: 13px;
				color: #666666;
				cursor: pointer;
				text-align: center;
				border: 1px solid #666666;
				
				border-radius: 200px;
				transition: all 0.3s;
				&:hover{
					background: #8D191D;
					color: #fff;
					border-color: #8D191D;

				}
			}
		}
		.header_menu{
			margin-top: 20px;
			.header_menu_link{
				color: #132A3E;
				font-size: 16px;
				font-family: $manrope;
				margin-right: 35px;
				cursor: pointer;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.header__right{
		width: 75px;
		display: flex;
		justify-content: space-between;
		.header_login{
			margin-top: 20px;
			.login{
				color: #666666;
				font-size: 13px;
				padding-bottom: 3px;
				border-bottom: 0.75px dashed #666666;
				cursor: pointer;
				img{
					display: inline-block;
					width: 12px;
					height: 10px;
					margin-right: 10px;
				}
			}
			
			
		}
		.header_cart{
			height: 72px;
			width: 72px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 12px;
			
			.cart_icon{
				fill:#CCCCCC
			}
		}
		.fixcart{
			position: fixed !important; 
			bottom: 20px;
			right: 20px;
			z-index: 999;
		}
		.incart{
			border: 2px solid #EFEFEF;
			box-sizing: border-box;
			border-radius: 15px;
			position: relative;
			cursor: pointer;
			.cart_icon{
				fill:#8D191D;
			}
			.cart_coutn{
				position: absolute;
				top: 7px;
				right: 7px;
				width: 21px;
				height: 21px;
				background: #132A3E;
				color: #fff;
				font-weight: 600;
				font-size: 11px;
				border: 2px solid #FFFFFF;
				text-align: center;
				vertical-align: middle;
				padding-top: 2px;
				border-radius: 50%;
			}


		}
	}

}
.phones{
	font-family: $manrope;
}