.stocks{
	margin-top: 30px;
	height: 400px;
	position: relative;
	img{
		width: 100%;
	}
	.arr{
		position: absolute;
		top: 50%;
		width: 48px;
		height: 48px;
		
	}
	.slick-prev{
		@include bgImage('/images/icon/slide-left.png');
		left: - 60px;
		width: 48px;
		height: 48px;
		font-size: 22px;
		line-height: 100%;
		&:hover,&:focus{
			opacity: 1;
			@include bgImage('/images/icon/slide-left.png');
		}
	}
	.slick-next{
		@include bgImage('/images/icon/slide-right.png');
		right: - 60px;
		width: 48px;
		height: 48px;
		font-size: 22px;
		line-height: normal;
		&:hover,&:focus{
			opacity: 1;
			@include bgImage('/images/icon/slide-right.png');
		}
	}
	
	.stocks__points{
		display: flex;
		margin-top: 15px;
		justify-content: center;
		text-align: center;
		li{
				display: inline-block;
		}
		button{
				font-size: 0px;
				height: 2px;
				cursor: pointer;
				width: 24px;
				margin: 0 12px;
				background-color: #ABABAB;
				border-radius: 1.5em;
				border: none;
		}
		.slick-active button{
				background-color: #8D191D;
		}
	}
}