.upper_bar{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
// выбор доставки
.change_choice{
	.choice_contain{
		padding: 6px;
		background: #EFEFEF;
		border-radius: 100px;
		display: flex;
	}
	.choice_box{
		padding: 0 30px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 13px;
		color: #666666;
		cursor: pointer;
	}
	.choice_box-active{
		cursor: auto;
		color: #8D191D;
		font-weight: 600;
		background: #FFFFFF;
		border-radius: 100px;
		box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.05), 0px 0px 18.1551px rgba(0, 0, 0, 0.037963), 0px 0px 9.87407px rgba(0, 0, 0, 0.0303704), 0px 0px 5.0375px rgba(0, 0, 0, 0.025), 0px 0px 2.52593px rgba(0, 0, 0, 0.0196296), 0px 0px 1.21991px rgba(0, 0, 0, 0.012037);
	}
}
// указать адресс
.but_point-adress{
	width: 30%;
	min-width: 280px;
	background: #FDC935;
	border-radius: 100px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	span{
		color: #333333;
		font-size: 15px;
		display: inline-block;
		&::before{
			content: "";
			display:inline-block;
			width: 10px;
			height: 13px;
			margin-right: 10px;
			position: relative;
			top: 2px;
			@include bgImage('/images/icon/but_small-adress.png')
		}
	}
}
// промокод
.promocode_contain{
	background: #EFEFEF;
	border-radius: 100px;
	height: 48px;
	padding-left: 20px;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	width: 25%;
	input{
		width: 70%;
		height: 48px;
		line-height: 48px;
		background: none;
		border: none;
	}
	.promocode_contain-btn{
		border: none;
		background: none;
		min-width: 20%;
		text-align: center;
		height: 48px;
		line-height: 48px;
		padding-right: 15px;
		color: #333333;
	}
}
// серый фон
.space{
	border-top: 1px solid #dedede;
	padding-top: 45px;
	padding-bottom: 40px;
	background-color: #EFEFEF;
}
.title{
	font-size: 26px;
	color: #333333;
	margin-bottom: 20px;
}
// компания 


// блоки перед футером
.about_comp-switch{
	display: flex;
	background: #DFDFDF;
	border-radius: 200px;
	padding: 10px;
	width: 430px;
	.link_news{
		display: block;
		border-radius: 100px;
		height: 50px;
		align-items: center;
		line-height: 50px;
		padding: 0px 30px;
		color: #666666 !important;
		cursor: pointer;
	}
	.active{
		background: #fff;
		color: #132A3E;
		a{
			color: #8D191D;;
		}
	}
}
.about-comp_grind{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	.about-comp_grind-item{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 30%;
		background: #CCCCCC;
		box-shadow: 0px 31px 60px rgba(0, 0, 0, 0.05), 0px 11.9407px 19.1111px rgba(0, 0, 0, 0.0303704), 0px 2.52593px 4.88889px rgba(0, 0, 0, 0.0196296);
		border-radius: 30px;
		height: 300px;
	}
	.about-comp_grind-item--but{
		background: #8D191D;
		border-radius: 100px;
		text-align: center;
		color: #fff;
		height: 56px;
		line-height: 56px;
		width: 70%;
		margin: 0 15%;
		margin-bottom: 30px;
		cursor: pointer;
		transition: all 0.3s;
		&:hover{
			background-color: #FDC935;
			color: #8D191D;
		}
	}
}