

/*
  Base
*/
@import './base/fonts';



//  Utils

@import './utils/dimensions';
@import './utils/mixins';
@import './utils/colors';
@import './utils/keyframes';
@import './utils/custom_checkbox';
@import './utils/forms';
/**/


/*
  Layout

@import './layout/page';
*/
@import './layout/normalize';
@import './layout/general';


//  Components 

@import './components/header';
@import './components/stocks'; 
@import './components/categories'; 
@import './components/shop'; 
@import './components/cart';
@import './components/ordering';
@import './components/footer';
/*
@import './components/slidebar';
@import './components/catalog';
@import './components/footer';
@import './components/button';
@import './components/link';
@import './components/_menu';
*/

@import './modals/product';
@import './modals/location';
@import './modals/delivery';
@import './modals/auth';
@import './modals/cart_modals';
@import './modals/notification';
@import './modals/modals';

//  Pages

@import './pages/main';
@import './pages/cart';
@import './pages/news';

.q{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 50px;
	background-color: #5555;
}
.active{
	color: red;
}
.element{
	margin-top: 500px;
	height: 500px;
	margin-bottom: 1200px;
}