@font-face{
    font-family: 'sf-ui-thin';
    font-weight: 200;
    font-display: swap;
    src: url("../assets/fonts/sf-ui-display-thin.woff") format("woff");
}
@font-face{
    font-family: 'sf-ui-light';
    font-display: swap;
    font-weight: 400;
    src: url("../assets/fonts/sf-ui-display-light.woff") format("woff");
}
@font-face{
    font-family: 'sf-ui-semibold';
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/sf-ui-display-semibold.woff") format("woff");
}
@font-face{
    font-family: 'sf-ui-bold';
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/sf-ui-display-bold.woff") format("woff");
}
@font-face{
    font-family: 'sf-ui-black';
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/sf-ui-display-black.woff") format("woff");
}